
	p{
                font-size: 24px;
                color: #FFEFD5;
                text-align: center;
	}
	body{
		background-color: #800000;
	}
	#baixo{ 
		font-size: 30px;
                color: #FFFFFF;
                text-align: center;
}
